@value inner-position: 5px;
@value radius: 5px;

.container {
  position: relative;
  display: flex;
  align-items: center;
  max-width: 700px;
  width: 100%;
}

.icon {
  position: absolute;
  left: inner-position;
}

.input {
  background-color: var(--blue-dark);
  padding: 10px 35px;
  width: 100%;
  border: 1px solid var(--blue);
  border-radius: radius;
  color: var(--white);
  font-size: 1rem;
}

.button {
  position: absolute;
  background-color: var(--blue);
  cursor: pointer;
  color: var(--white);
  padding: 7px 15px;
  border: none;
  border-radius: radius;
  right: inner-position;
}

.button:hover {
  opacity: 0.7;
}
