.App {
  min-height: 100vh;
  padding: 3%;
  display: flex;
  flex-direction: column;
  background-color: var(--black);
  color: var(--white);
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
